

.alinhamento{
  text-align:right;
  margin-right: 30px;
}

.fontedestaque{
font-family: 'Roboto', sans-serif;
font-style: italic;
text-align: center;
}

.fontecorpo{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.fontecorpo1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.fontecorpo2{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.navdestaque{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.sectioninfo{
  display: flex;
  justify-content: space-around;
}
.sectionborder{
  border: dotted;
  border-radius: 15px;
  border-color: black;
  margin-left: 15px;
  margin-right: 15px;
}
  
.sectionborder:hover{
  scale: 1.01;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

.buttonfooter{
  background-color: #333;
  border-radius: 5px;
  color: antiquewhite;
}

.buttonfooter:hover{
  background-color: antiquewhite;
  color: #333;
  scale: 0.9;
}

.marginlist{
  margin-left: 10px;
  margin-right: 15px;
}


span.errorMsg{ /* style para as mensagens de erro do cadastro */
  background-color: rgba(255, 0, 0, 0.3);
}

.cardInfo{
  transition: 0.3s;
}

.carInfo:hover{
  transform: scale(1.05);
}